@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --primary-color: ##ff697d;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    color: #fefefe;
    font-family: "Playpen Sans", cursive;
    /* background-color: rgb(29, 28, 28); */
     background-image: url("./src/assets/bgImages/black.jpeg");

  }

  .loginForm {
    background: rgba(92, 77, 77, 0.123);
    box-shadow: 0 8px 32px 0 rgba(228, 66, 66, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  #loginPage {
    background-image: url("./src/assets/bgImages/black.jpeg");
  }
}
